extends layout

block content
  h1 Parabenizador
  p.lead Um serviço que dá parabéns automaticamente pra você!
  h2 Parabéns automático
  hr
  .row
    .col-md-6
      h2 Facebook!
      p Basta fazer um conta, escolher uma mensagem e começar a aproveitar e automaticamente seus amigos receberão parabéns no aniversário deles!
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 LinkedIn
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Twitter
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »
